<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTC Plot Collection</title>
    
    <!-- D3.js Library -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Top 20 Bitcoin Holders</h2>

    <div class="container">
        <div class="svg-container">
            <svg width="1200" height="650"></svg>
        </div>
        <div class="button-container">
            <button id="download">Download SVG</button>
        </div>
    </div>

    <hr style="margin: 75px 0; border: none; border-top: 2px solid #ccc;">

    <div class="container">
        <div class="svg-container">
            <svg id="scatter-plot" width="1200" height="650"></svg>
        </div>
        <div class="button-container">
            <button id="download-scatter">Download SVG</button>
        </div>
    </div>

    <!-- JavaScript Files -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterplot.js') }}"></script>

</body>
</html>
