<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTC Plot Collection</title>
    
    <!-- D3.js Library -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>

    <h2 id="pfvalue-heading">Pf value</h2>
    <div class="container">
        <div class="svg-container">
            <svg id="pfvalue-plot" width="900" height="500"></svg>
            <div id="pfvalue-tooltip" style="position: absolute; display: none; pointer-events: none;"></div>

        </div>
        <div class="button-container">
            <button id="pfvalue-download" style="margin-bottom: 20px;">Download SVG</button>
        </div>
    </div>

    <hr style="margin: 75px 0; border: none; border-top: 2px solid #ccc;">

    <h2>Top 20 Bitcoin Holders</h2>
    <div class="container">
        <div class="svg-container">
            <svg id="top-holders" width="900" height="500"></svg>
        </div>
        <div class="button-container">
            <button id="download">Download SVG</button>
        </div>
    </div>


    <hr style="margin: 75px 0; border: none; border-top: 2px solid #ccc;">


    <h2 id="scatter-matrix-heading">Brushable</h2>
    <div class="container">
        <div class="svg-container">
            <svg id="scatter-matrix-plot" width="900" height="900"></svg>
        </div>
        <div class="button-container">
            <button id="scatter-matrix-download" style="margin-bottom: 100px;">Download SVG</button>
        </div>
    </div>

    <hr style="margin: 75px 0; border: none; border-top: 2px solid #ccc;">

    <h2 id="hodl-heading">Days HODLed by Richest Addresses</h2>
    <div class="container">
        <div class="svg-container">
            <svg id="scatter-plot" width="900" height="500"></svg>
        </div>
        <div class="button-container">
            <div class="apply-container" style="margin-bottom: 10px;">
                <button id="download-scatter" style="margin-bottom: 100px;">Download SVG</button>
                <p style="margin-bottom: 0px;">Scraping only works on local machine</p>
                <button id="apply-button">Get</button>
                <input type="text" id="apply-input" placeholder="top xxx richest addresses" style="margin-right: 5px;">

            </div>
            <div id="message-container" class="message-box"></div>
        </div>
    </div>

    <hr style="margin: 75px 0; border: none; border-top: 2px solid #ccc;">

    <h2 id="age-bands-heading">Age Bands by Richest Addresses</h2>
    <div class="container">
        <div class="svg-container">
            <svg id="age-bands-plot" width="900" height="500"></svg>
        </div>
        <div class="button-container">
            <button id="age-bands-download" style="margin-bottom: 100px;">Download SVG</button>
            <p style="margin-bottom: 0px;">Scraping only works on local machine</p>
            <div class="apply-container" style="margin-bottom: 10px;">
                <button id="age-bands-button">Get2</button>
                <input type="text" id="age-bands-input" placeholder="top xxx richest addresses" style="margin-right: 5px;">
            </div>
            <div id="age-bands-container" class="message-box"></div>

        </div>
    </div>

    <hr style="margin: 75px 0; border: none; border-top: 2px solid #ccc;">

    <h2 id="treemap-heading">Treemap - zoom zoom mousewheel</h2>
    <div class="container">
        <div class="svg-container" style="max-width: 1000px; border: 2px solid red; display: inline-block; overflow: hidden;">
            <svg id="treemap-plot" width="1000" height="750"></svg>
        </div>
        <div class="button-container">
            <button id="treemap-download" style="margin-bottom: 20px;">Download SVG</button>
            <input type="text" id="exclude-top" placeholder="Exclude top X holders" style="margin-right: 5px;">
            <input type="text" id="exclude-bottom" placeholder="Exclude bottom X holders" style="margin-right: 5px;">
        </div>
    </div>


    <!-- JavaScript Files -->
    <script src="{{ url_for('static', path='js/treemap.js') }}"></script>
    <script src="{{ url_for('static', path='js/pf_value.js') }}"></script>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
    <script src="{{ url_for('static', path='js/scatterMatrix.js') }}"></script>
    <script src="{{ url_for('static', path='js/scatterplot.js') }}"></script>
    <script src="{{ url_for('static', path='js/ageBands.js') }}"></script>
    <script src="{{ url_for('static', path='js/windowOnLoad.js') }}"></script>

</body>
</html>
